.vscode
example_paper.acn
example_paper.acr
example_paper.alg
example_paper.aux
example_paper.bbl
example_paper.bcf
example_paper.blg
example_paper.fdb_latexmk
example_paper.fls
example_paper.glg
example_paper.glo
example_paper.gls
example_paper.ist
example_paper.loa
example_paper.lof
example_paper.log
example_paper.lol
example_paper.lot
example_paper.out
example_paper.pri
example_paper.run.xml
example_paper.synctex.gz
example_paper.toc
example_paper.tex.blg
example_paper.tex.bbl
